<a href="https://colab.research.google.com/github/bdugick89/Data-Science-Bootcamp/blob/main/Brannon_2d_Lists%2CDictionaries%2CSets%2CTuples_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Types Exercises

This contains two sets of exercises - Basic and Advanced.  

**!!!Only the basic exercises are required.!!!**

The advanced exercises require concepts we haven't gone over yet.  They will require prior coding knowledge and/or some Googling.  If you breeze through the basic exercises try your hand at the advanced ones.

##  Basic

1. Given	a list,	remove the	element	at	index	number 4 and add	it at index position 2 (over-writing what is currently there) and also add it at the end of the list.

```python
list1 = [34, 56, 49, 4900, 249, 494]
```

In [6]:
list1 = [34, 56, 49, 4900, 249, 494]

removed_num= list1.pop(4)
list1.insert(2,removed_num)
list1.append(removed_num)
list1

[34, 56, 249, 49, 4900, 494, 249]

2. Create a dictionary to store some information about yourself.  For example you might have key value pairs like:
- favorite ice cream & chocolate
- hair color & blond

In [13]:
my_self = { "name": "Robert",
           "ice cream": "cookies & cream",
           "hair color": "brown, mostly",
            "transport": "scooter",
}
my_self




cars_i_like ={"make":"bmw",
              "model":"M-series",
              "Year":"Early-2000s"}
cars_i_like

{'make': 'bmw', 'model': 'M-series', 'Year': 'Early-2000s'}

3. Add an additional piece of information about yourself to your dictionary from above.

In [14]:


cars_i_like['Colors'] = 'Blue'
cars_i_like

{'make': 'bmw', 'model': 'M-series', 'Year': 'Early-2000s', 'Colors': 'Blue'}

4. Remove one of the entries from your dictionary

In [16]:
del cars_i_like['Year']
cars_i_like

{'make': 'bmw', 'model': 'M-series', 'Colors': 'Blue'}

In [18]:
cars_i_like.pop('Colors')
cars_i_like

{'make': 'bmw', 'model': 'M-series'}

5. Create your own tuple.  You can put whatever you want in it.

In [19]:
tuple_test= 12312, 12341,25312,1235,5,1234,1234

6. Create two sets and find the intersection between them.

In [23]:
set_1 = {1,2,5232,5,234,}
set_2 = {122,1,1234,5,1234,234,}

result = set.intersection(set_1,set_2)
result

{1, 5, 234}

7. Find another method to run on one or both of your sets.

In [30]:
result = set.difference(set_1,set_2)
result

result = set.difference(set_1,set_2)
result

{2, 5232}

---

## Advanced (Optional- for fun)

You have two lists.  Create a new list with the elements with odd indices from the first list and the elements with even indices from the second list.

```python
list1 = [34, 56, 49, 4900, 249, 494]
list2 = [45, 65, 34, 23, 67, 5]
```

In [43]:
list_1 = [34, 56, 49, 4900, 249, 494]
list_2 = [45, 65, 34, 23, 67, 5]

odd_numbers = [ num for num in list_1 if num % 2 != 0]
even_numbers = [ num for num in list_2 if num % 2 == 0]

new_list = odd_numbers + even_numbers
new_list


list_1 = [34, 56, 49, 4900, 249, 494]
list_2 = [45, 65, 34, 23, 67, 5]
new_list = [ num for num in list_1 if num % 2 != 0]  + [ num for num in list_2 if num % 2 == 0]
new_list

[49, 249, 34]

Starting with a given list, count the occurrences of each unique element.  Create a dictionary to store the count of each element.

```python
list1 = [34, 544, 544, 34, 67, 67, 34, 5, 7, 9]
```

In [63]:
from collections import Counter
list_1 = [34, 544, 544, 34, 67, 67, 34, 5, 7, 9]
#call the counter method
occurrences_counter = Counter(list_1)
#convert result set into a dictionary with the dict class
occurrences_dict = dict(occurrences_counter)
occurrences_dict

{34: 3, 544: 2, 67: 2, 5: 1, 7: 1, 9: 1}

Given two sets, find the intersection of the sets and remove those elements from the first set.

```python
set1 = {x for x in range(20)}
set2 = {x for x in range(3,10)}
```

In [77]:
set1 = {x for x in range(20)}
print("Set1_Org:", set1)
set2 = {x for x in range(3,10)}
print("Set2_Org:", set1)
intersection_set= set.intersection(set1,set2)
print("Inersection_Set:", intersection_set)
set1.difference(intersection_set)
print("Set1_Update:", intersection_set)

Set1_Org: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
Set2_Org: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
Inersection_Set: {3, 4, 5, 6, 7, 8, 9}
Set1_Update: {3, 4, 5, 6, 7, 8, 9}

[link text](https://)Given a list, check if each element already exists in a dictionary as a key's value.  If not, delete the element from the list.

```python
list1 = [4, 5, 6, 7, 3, 5, 4, 3]
fruit_counts = {
    "apple" : 4,
    "orange": 8,
    "grapefruit": 3,
    "grapes": 7
}
```

In [104]:
list1 = [4, 5, 6, 7, 3, 5, 4, 3]
fruit_counts = {
    "apple" : 4,
    "orange": 8,
    "grapefruit": 3,
    "grapes": 7
}

updated_list = [key for key in list1 if key not in fruit_counts]
updated_list

[4, 5, 6, 7, 3, 5, 4, 3]

With a given dictionary, get all values and add to a list, but don't add duplicates.

```python
fruit = {
  "apple" : 4,
  "orange": 8,
  "grapefruit": 3,
  "grapes": 7,
  "cherries": 4,
  "nanas": 3
}
```

In [111]:
fruit = {
  "apple" : 4,
  "orange": 8,
  "grapefruit": 3,
  "grapes": 7,
  "cherries": 4,
  "nanas": 3
}

distinct_fruit_set = {fruit for fruit in fruit_counts.values()}
fruit = list(distinct_fruit_set)
fruit

[8, 3, 4, 7]

Given a string input calculate and display the number of digits and letters.

```python
s = "I <3 python"
```

In [113]:
alpha,string=0,"I <3 python"