<a href="https://colab.research.google.com/github/bdugick89/Data-Science-Bootcamp/blob/main/Brannon_2b_Loop_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Problem 1

Write a Python program that prints out the numbers from 2 to 60 in increments of two

Output: 2 4 6 ... 56 58 60

In [ ]:
for number in range(2, 61, 2):
    print(number)

## Problem 2



Write a Python program that takes a word and reverses it.

Input:

input_word = 'stressed'

Output:

desserts

Solution:

In [5]:
input_word = 'stressed'
output_word = input_word[::-1]
print(output_word)

desserts

## Problem 3



> Indented block



Write a Python program that prints each item and its corresponding type from the following list.

Input:

datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12],
{"class":'V', "section":'A'}]

Preferred Output:

Type of  1452  is  <class 'int'>                                                                              
Type of  11.23  is  <class 'float'>                                                                            
Type of  (1+2j)  is  <class 'complex'>                                                                         
Type of  True  is  <class 'bool'>                                                                             
Type of  w3resource  is  <class 'str'>                                                                        
Type of  (0, -1)  is  <class 'tuple'>                                                                         
Type of  [5, 12]  is  <class 'list'>                                                                          
Type of  {'class': 'V', 'section': 'A'}  is  < class 'dict'>

Solution:

In [6]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

for item in datalist:
    print(f"Item: {item}, Type: {type(item)}")

for item in datalist:
    print(f"items': {item}, type: {type(item)}")

Item: 1452, Type: <class 'int'>
Item: 11.23, Type: <class 'float'>
Item: (1+2j), Type: <class 'complex'>
Item: True, Type: <class 'bool'>
Item: w3resource, Type: <class 'str'>
Item: (0, -1), Type: <class 'tuple'>
Item: [5, 12], Type: <class 'list'>
Item: {'class': 'V', 'section': 'A'}, Type: <class 'dict'>

## Problem 4



Write a Python program to construct the following pattern:



@

@@

@@@

@@@@

@@@@@

@@@@

@@@

@@

@


**Hint:** `@*3` will print out `@@@`.

In [7]:
# Solution here
print('''
@
@@
@@@
@@@@
@@@@@
@@@@
@@@
@@
@
''')

@
@@
@@@
@@@@
@@@@@
@@@@
@@@
@@
@

In [8]:
print("@"*1)
print("@"*2)
print("@"*3)
print("@"*4)
print("@"*5)
print("@"*4)
print("@"*3)
print("@"*2)
print("@"*1)

@
@@
@@@
@@@@
@@@@@
@@@@
@@@
@@
@

In [9]:
numbers = [ 1, 2, 3, 4, 5, 4, 3, 2, 1 ]
for number in numbers:
  print("@" * number)

@
@@
@@@
@@@@
@@@@@
@@@@
@@@
@@
@

In [ ]:
for i in range(1,24):
  if i < 12:
    print("@"*i)
  else:
    print((24-i)*"@")

@
@@
@@@
@@@@
@@@@@
@@@@@@
@@@@@@@
@@@@@@@@
@@@@@@@@@
@@@@@@@@@@
@@@@@@@@@@@
@@@@@@@@@@@@
@@@@@@@@@@@
@@@@@@@@@@
@@@@@@@@@
@@@@@@@@
@@@@@@@
@@@@@@
@@@@@
@@@@
@@@
@@
@

In [ ]:
n = 7
for i in range(n):
  print("@"*(i+1))
for i in range(n-1):
  print("@"*(n-1-i))

@
@@
@@@
@@@@
@@@@@
@@@@@@
@@@@@@@
@@@@@@
@@@@@
@@@@
@@@
@@
@

In [ ]:
for i in range(1, 10):
  # this uses min to determine how many @'s to print
  # e.g min(1,9) vs min(9,1)
  # print(i, 10 - i, "@" * min(i, 10 - i))
  print("@" * min(i, 10 - i))

1 9 @
2 8 @@
3 7 @@@
4 6 @@@@
5 5 @@@@@
6 4 @@@@
7 3 @@@
8 2 @@
9 1 @

# Problem 5



Write a Python program which iterates through the integers from 0 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".  

For this problem zero is considered a multiple of three and five 3\*0=5\*0=0

Sample Output :  
Fizz Buzz

1

2

Fizz

4

Buzz

Fizz

7

8

Fizz

Buzz

<etc.>

In [14]:
for num in range(51):
    if num == 0:
        print("FizzBuzz")
    elif num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)



for num in range(51):
    if num == 0:
        print("fizzbuzz")
    elif num % 3 ==0 and number % 5 == 0:
        print('fizzbuzz')
    elif num % 3 == 0:
        print('fizz')
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

fizzbuzz
1
2
fizz
4
Buzz
fizz
7
8
fizz
Buzz
11
fizz
13
14
fizz
16
17
fizz
19
Buzz
fizz
22
23
fizz
Buzz
26
fizz
28
29
fizz
31
32
fizz
34
Buzz
fizz
37
38
fizz
Buzz
41
fizz
43
44
fizz
46
47
fizz
49
Buzz

In [11]:
# Solution here
for x in range(0,50,):
  if x == 0 or (x % 3==0 and x % 5==0):
    print ("FizzBuzz")
  elif (x % 3==0):
    print("Fizz")
  elif (x % 5==0):
    print("Buzz")
  else:
    print(x)

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49

In [ ]:
for fb in range(0,51):
  fizz = fb % 3
  buzz = fb % 5

  if not(fizz or buzz):
    print ("Fizz Buzz")
  elif not (fizz):
    print("Fizz")
  elif not (buzz):
    print("Buzz")
  else:
    print(fb)

In [ ]:
# Iterate through numbers 0 to 50
for num in range(51):
    # Check if the number is a multiple of both 3 and 5
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    # Check if the number is a multiple of 3
    elif num % 3 == 0:
        print("Fizz")
    # Check if the number is a multiple of 5
    elif num % 5 == 0:
        print("Buzz")
    # If none of the above conditions are met, print the number
    else:
        print(num)

In [10]:
# Iterate through numbers 0 to 50
for num in range(51):
    # Check if the number is a multiple of both 3 and 5
    if num % 15 == 0:
        print("FizzBuzz")
    # Check if the number is a multiple of 3
    elif num % 3 == 0:
        print("Fizz")
    # Check if the number is a multiple of 5
    elif num % 5 == 0:
        print("Buzz")
    # If none of the above conditions are met, print the number
    else:
        print(num)

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [ ]:
n = 50
fb = [1] * n
# Iterate through numbers 0 to 50
for num in range(n):
    # Check if the number is a multiple of both 3 and 5
    if num % 15 == 0:
        fb[num]="FizzBuzz"
    # Check if the number is a multiple of 3
    elif num % 3 == 0:
        fb[num]="Fizz"
    # Check if the number is a multiple of 5
    elif num % 5 == 0:
        fb[num]="Buzz"
    # If none of the above conditions are met, print the number
    else:
        fb[num]=num

fb = [ str(_) for _ in fb ]
for i, v in enumerate(fb):
  if not ( i % 15 ):
    print()
  print(f"{v:7}", end=", ")

FizzBuzz, 1      , 2      , Fizz   , 4      , Buzz   , Fizz   , 7      , 8      , Fizz   , Buzz   , 11     , Fizz   , 13     , 14     ,
FizzBuzz, 16     , 17     , Fizz   , 19     , Buzz   , Fizz   , 22     , 23     , Fizz   , Buzz   , 26     , Fizz   , 28     , 29     ,
FizzBuzz, 31     , 32     , Fizz   , 34     , Buzz   , Fizz   , 37     , 38     , Fizz   , Buzz   , 41     , Fizz   , 43     , 44     ,
FizzBuzz, 46     , 47     , Fizz   , 49     ,

In [ ]:
fizzbuzz = ["fizzbuzz","x","x","fizz","x","buzz","fizz","x","x","fizz","buzz","x","fizz","x","x"]
for n in range(20):
  fb = fizzbuzz[n%15]
  print(n) if ( fb == "x") else print(fb)

# Problem 6



Write a Python program to calculate a dog's age in dog's years.

Note: For the first two calendar years, a dog year is equal to 10.5 calendar years. After that, each dog year equals 4 calendar years.

Input:

calendar_age = 5

Preferred Output:

The dog's age in dog's years is 33

In [32]:
for calendar_age in range(1, 14):
    if calendar_age <= 2:
        dog_age = calendar_age * 10.5
    else:
        dog_age = 2 * 10.5 + (calendar_age - 2) * 4

    print(f"The dog's age in dog's years for {calendar_age} calendar years is {int(dog_age)}.")

the dogs age1 and for dog year 10
the dogs age2 and for dog year 21
the dogs age3 and for dog year 25
the dogs age4 and for dog year 29
the dogs age5 and for dog year 33
the dogs age6 and for dog year 37
the dogs age7 and for dog year 41
the dogs age8 and for dog year 45
the dogs age9 and for dog year 49
the dogs age10 and for dog year 53
the dogs age11 and for dog year 57
the dogs age12 and for dog year 61
the dogs age13 and for dog year 65