<a href="https://colab.research.google.com/github/bdugick89/Data-Science-Bootcamp/blob/main/Copy_of_3b_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Data Frames

In [ ]:
import pandas as pd

## Building a data frame

In [ ]:
# We can build a data frame using a dictionary
my_dict = {'dogs' : [1,0,4,3,2],
           'cats' : [3,2,0,1,1]}
my_dict

In [ ]:
animals = pd.DataFrame(my_dict)
print(animals)

In [ ]:
type(animals)

In [ ]:
# fetch second row
animals.iloc[1]

In [ ]:
type(animals.iloc[1])

In [ ]:
animals.iloc[1][0]

In [ ]:
# Change the index
animals = pd.DataFrame(my_dict, index = ['Joe', 'Mary', 'Roger', 'David', 'Mikey'])
print(animals)

In [ ]:
animals.iloc[-1]

In [ ]:
animals.loc["Mikey"]

### Your Turn
Create a data frame that looks like the table below. Name this data frame `movies`. Use the `Movie` column as your index.

Movie | Lead Actor | Times Watched
------|------------|--------------
Titanic|Leo DiCaprio|3
Die Hard|Bruce Willis|5
Back to the Future | Michael J. Fox | 15
Forrest Gump | Tom Hanks | NaN

Note: to add a `NaN` to your dataframe, you will need to do the following:
1. Run `import numpy as np`
2. Use `np.NaN` in your dataframe.

In [ ]:
# Solution

## Creating a data frame by reading in a CSV

In [ ]:
# # Mount google colab drive
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
# Read in CSV
url = "http://ddc-datascience.s3-website-us-west-1.amazonaws.com/Home_Data.csv"
home_data = pd.read_csv(url, usecols=range(9))
# Look at first 5 rows
home_data.head()

## Viewing/Understanding Data

In [ ]:
# View the first 5 rows
home_data.head()

In [ ]:
home_data.tail()

In [ ]:
# See the dimension of your data frame
home_data.shape

In [ ]:
# See the information about each column in your data frame
home_data.info()

In [ ]:
# Get summary statistics about your data frame
home_data.describe(include = "all" )

In [ ]:
# See the names of the columns
home_data.columns

### Your Turn
1. Use the `info()` and `describe()` methods on `movies` data frame.
2. Find another method that can be used on dataframes. Look at the help documentation for that method. Write a brief description of what that method does.

In [ ]:
# Solution

In [ ]:
# Solution

   movies.transpose() flips rows and columns.

## Cleaning Data

In [ ]:
# Dealing with Missing Values
home_data.isnull().head()

In [ ]:
home_data.isnull().sum()

In [ ]:
# Let's drop the columns with NaNs.
# First, we need to create a copy of our data frame
home_data_clean = home_data.copy()
home_data_clean.head()

In [ ]:
# axis = 1 tells the function to drop a column instead of a row
# in place tells the function to alter home_data_clean instead of returning a new data frame
home_data_clean.dropna(axis = 1, inplace=True)
home_data_clean.head()

In [ ]:
home_data.head()

### Your Turn
Make a copy of your `movies` data frame. Save it as `movies_clean`.
Drop the **row** that contains a NaN.

In [ ]:
# Solution

In [ ]:
# Solution

## Imputation
Let's say we didn't want to just drop the LotFrontage and column as it only had 259 NaNs.

In [ ]:
# Make a copy
home_data_impute = home_data.copy()
home_data_impute.head()

In [ ]:
# Remove only the Alley column
home_data_impute.drop(labels ='Alley', axis = 1, inplace = True)
home_data_impute.head()

In [ ]:
# Check to see our NaNs
home_data_impute.isnull().sum()

In [ ]:
# Replace the NaNs in LotFrontage with the mean lot frontage amount
lot_frontage_mean = home_data_impute['LotFrontage'].mean()
lot_frontage_mean

In [ ]:
home_data_impute.fillna(lot_frontage_mean, inplace = True)
home_data_impute.isnull().sum()

In [ ]:
home_data_impute.describe()

### Your Turn
Make another copy of your original `movies` data frame and save it as `movies_impute`. Replace the NaN with a 0.

In [ ]:
# Solution

## Indexing by Column

In [ ]:
# We can index a column using square brackets and the column name
street_col = home_data_impute['Street']
street_col.head()

In [ ]:
type(street_col)

In [ ]:
# We can index multiple columns using a list of column names
multiple_cols = home_data_impute[['Street', 'LotShape']]
multiple_cols.head()

In [ ]:
type(multiple_cols)

In [ ]:
street_col = home_data_impute[['Street']]
street_col.head()

In [ ]:
type(street_col)

### Your Turn
Index the `Lead Actor` column of your `movies_impute` data frame. Save it to a variable called `actors`. Print out `actors`.

In [ ]:
# Solution

## Indexing by Row
We can index rows in two ways:

- .loc - locates by name
- .iloc- locates by numerical index

In [ ]:
# Let's take a look at the animals data frame we created earlier
animals

In [ ]:
# Index using loc
animals.loc['Roger']

In [ ]:
# Index using iloc
animals.iloc[2]

In [ ]:
# We can also slice!
animals.loc['Roger':'Mikey'] # Note - the stop point in .loc is inclusive

In [ ]:
animals.iloc[2:4] # The stop point in .iloc is not inclusive

In [ ]:
animals.iloc[2:4]['dogs']

In [ ]:
( animals.iloc[2:4] )['dogs']

In [ ]:
animals['dogs'].iloc[2:4]

In [ ]:
pd.DataFrame(animals['dogs'].iloc[2:4])

In [ ]:
animals[['dogs']].iloc[2:4]

### Your Turn
1. Index the row for `Back to the Future` using .loc and iloc.
2. Use a slice to index the rows for `Back to the Future` and `Forrest Gump`.

In [ ]:
# Solution

In [ ]:
# Solution

## Conditional Selections

In [ ]:
animals

In [ ]:
# We can use conditional statements to return booleans
animals['dogs'] == 4

In [ ]:
# We can then use those booleans to index our data frame
filter = ( animals['dogs'] == 4 )
animals[ filter ]

In [ ]:
# Another example
animals[animals['cats'] > 1]

In [ ]:
# A third example!
# Two things to note - we have to put parenthesis around each conditional statement
# and we have to use the '&' symbol instead of the word 'and'
animals[(animals['cats'] > 1) & (animals['dogs'] < 1)]

### Your Turn
Use a conditional statement to return the following from your `movies_impute` data frame:
1. Movies with Bruce Willis as the lead actor
2. Movies that have been watched more than 4 times

In [ ]:
# Solution

In [ ]:
# Solution

## Adding a Column

In [ ]:
animals

In [ ]:
# We can easily add a column to our data frame
animals['chickens'] = [1,0,0,4,5]
animals

# Adding a Row

In [ ]:
# Similarly, we can add a row to our data frame
animals.loc['Nevin'] = [1,0,0]
animals

### Your Turn
1. Add a column named `Rating` to your `movies_impute` data frame that gives your rating of the movie on a scale from 1-10 (where 10 is the best).
2. Add a row to your `movies_impute` data frame with the information for another movie.

In [ ]:
# Solution

In [ ]:
# Solution

## A Quick Intro to Plotting Using Pandas

In [ ]:
home_data.plot(kind = 'scatter', x = 'LotArea', y = 'LotFrontage') ;

In [ ]:
home_data['LotFrontage'].plot(kind = 'hist', title = 'Lot Frontage') ;

In [ ]:
home_data['LotFrontage'].plot(kind = 'box', title = 'Lot Frontage') ;

### Your Turn
Create a scatter plot of your `rating` column versus your `Times Watched` column.

In [ ]:
# Solution