<a href="https://colab.research.google.com/github/bdugick89/Data-Science-Bootcamp/blob/main/Brannon_1d_Intro_to_Python%2CLists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

# Python Exercises - Intro to Python & Lists

1. Use a variable to represent a famous person’s name and then print that person’s name in lowercase, uppercase and title case.

In [3]:
name = "Ronald McDonald"

In [ ]:
name.lower()

'ronald mcdonald'

In [ ]:
name.upper()

'RONALD MCDONALD'

In [4]:
name.title()

'Ronald Mcdonald'

2. Print a message about the person you defined above using an f-string.

In [ ]:
f"{name} had a farm

'Ronald McDonald had a farm.'

3. Store the names of at least 5 of your favorite movies in a list called `movies`.

In [44]:
movies = (
    "Odessey",
    "Star Wars",
    "Mellia",
    "Steve Jobs",
    "Fast and Furious"
)


Brannon_friends=('Ryan','sam','harrison')

4. Remove one of the movies from your `movies` list.

In [46]:

Friendslist= list(Brannon_friends)
print(Friendslist)

['Ryan', 'sam', 'harrison']

In [16]:
movies_list.remove("Steve Jobs")
movies_list


Friends_List.remove

ValueError: list.remove(x): x not in list

5. Sort your `movies` list in reverse alphabetical order.

In [34]:
movies_list.sort(reverse=True)
movies_list

additional_values=('Ryan','Bob','Carl')
Friendslist.extend(additional_values)

Friendslist.sort(reverse=True)
print(Friendslist)

6. Use a slice to access the first 3 of your favorite movies.

In [35]:
movies_listc


print(Friendslist)

Friendslist[:4]

['sam', 'harrison', 'Ryan', 'Bob', 'Carl']

7. Add your least favorite movie to your `movies` list.

In [ ]:
movies_list.append("Chicken Run")
movies_list

['Star Wars',
 'Odessey',
 'Mellia',
 'Fast and Furious',
 'Chicken Run',
 'Chicken Run']

In [37]:
movies_list.pop(-1)


Friendslist.pop(-1)
Friendslist

['sam', 'harrison', 'Ryan']

In [58]:
movies_list = movies_list[:-1]
del

Friendslist = Friendslist[:-1]
del
Friendslist

SyntaxError: invalid syntax (<ipython-input-58-180222339e9d>, line 2)

In [60]:
del(movies_list[2])

del(Friendslist[1])
print(Friendslist)

['Ryan', 'Bob', 'Carl']

In [55]:
movies_list


additional_values=('Bob','Carl')
Friendslist.extend(additional_values)
Friendslist

['Ryan', 'Ryan', 'Bob', 'Carl']

8. Convert the float `16.4` to an integer.

In [62]:
int(16.4)

16

**BONUS** (only if you have time)

1. Create a variable called `birthday` and set it equal to the string `'Happy Birthday to You!'`. Use slicing to access every other character in `birthday`.

In [69]:
birthday='Happy Birthday to You!'


birthday[:-2]

'Happy Birthday to Yo'

2. Create a variable called `nested` and set it equal to the following nested list: `[[1,2,3], ['a','b','c']]`. Use indexing to access the `b` from your nested list. Use indexing to access `[2,3]` from your nested list.

In [90]:
nested=[[1,2,3], ['a','b','c'], ['z','y','z']]


element_b = nested[1][1]
print(element_b)  # Output: 'b'


sublist_23 = nested[2][:3]
print(sublist_23)  # Output: [2, 3]

['z', 'y', 'z']