<a href="https://colab.research.google.com/github/bdugick89/Data-Science-Bootcamp/blob/main/Brannon_1b_Slicing_Lists_drills.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Slicing exercise

Below is a collection of several lists of numbers with the numbers 1, 2, and 3 embedded.

Your task is two-fold:
1. to come up with a slice syntax so that the result is the list `[1, 2, 3]`
1. to do as many as you can in 5 minutes

For example, here's the slice syntax for two of the lists:

In [ ]:
line_001 = [50, 50, 50, 50, 1, 2, 3, 50, 50, 50, 50, 50, 50]
line_001[4:7]


line_001 = [50, 50,  1, 2, 3, 50, 50, 50]
line_001 [2:5:]

[1, 2, 3]

In [ ]:
line_013 = [50, 50, 3, 10, 2, 10, 1, 50, 50, 50, 50, 50, 50, 50, 50]
line_013[6:1:-2]




line_013 = [50, 3, 10, 2, 10, 1, 50, 50, 50, 50, 50]
line_013[5:0:-2]

[1, 2, 3]

The full collection:

In [ ]:
line_001 = [50, 50, 50, 50, 1, 2, 3, 50, 50, 50, 50, 50, 50]
line_001[4:7]




line_001 = [50, 50, 50, 50, 50, 50,50, 50,1, 2, 3, 50,50, 50,50, 50, 50]
line_001[8:11]

[1, 2, 3]

In [ ]:
line_002 = [50, 1, 2, 3, 50, 50, 50, 50, 50, 50, 50, 50, 50]
line_002 [1:4]

In [ ]:
line_003 = [50, 50, 50, 1, 10, 10, 10, 2, 10, 10, 10, 3, 50, 50, 50, 50, 50, 50, 50]
line_003 [3:12:4]

[1, 2, 3]

In [ ]:

line_004 = [50, 50, 50, 50, 50, 50, 50, 50, 1, 10, 2, 10, 3, 50, 50]
line_004 [8:13:2]

[1, 2, 3]

In [ ]:
line_005 = [50, 50, 50, 50, 50, 50, 50, 50, 50, 3, 2, 1, 50]
line_005 [11:8:-1]

[1, 2, 3]

In [ ]:
line_006 = [50, 50, 3, 2, 1, 50, 50, 50, 50, 50, 50, 50, 50]
for index, value in enumerate(line_006):
    print(f"Index: {index}, Value: {value}")

line_006 [4:1:-1]

[1, 2, 3]

In [ ]:
line_007 = [50, 50, 1, 10, 10, 10, 2, 10, 10, 10, 3, 50, 50, 50, 50, 50, 50, 50, 50]

for index, value in enumerate(line_007):
    print(f"Index: {index}, Value: {value}")


line_007[2:11:4]

Index: 0, Value: 50
Index: 1, Value: 50
Index: 2, Value: 1
Index: 3, Value: 10
Index: 4, Value: 10
Index: 5, Value: 10
Index: 6, Value: 2
Index: 7, Value: 10
Index: 8, Value: 10
Index: 9, Value: 10
Index: 10, Value: 3
Index: 11, Value: 50
Index: 12, Value: 50
Index: 13, Value: 50
Index: 14, Value: 50
Index: 15, Value: 50
Index: 16, Value: 50
Index: 17, Value: 50
Index: 18, Value: 50

[1, 2, 3]

In [ ]:

line_008 = [50, 50, 50, 50, 1, 10, 10, 2, 10, 10, 3, 50, 50, 50, 50, 50, 50]

for index, value in enumerate(line_008):
    print(f"Index: {index}, Value: {value}")

line_008[4:11:3]

Index: 0, Value: 50
Index: 1, Value: 50
Index: 2, Value: 50
Index: 3, Value: 50
Index: 4, Value: 1
Index: 5, Value: 10
Index: 6, Value: 10
Index: 7, Value: 2
Index: 8, Value: 10
Index: 9, Value: 10
Index: 10, Value: 3
Index: 11, Value: 50
Index: 12, Value: 50
Index: 13, Value: 50
Index: 14, Value: 50
Index: 15, Value: 50
Index: 16, Value: 50

[1, 2, 3]

In [ ]:
line_009 = [50, 50, 50, 50, 50, 50, 50, 1, 2, 3, 50, 50, 50]
for index, value in enumerate(line_009):
    print(f"Index: {index}, Value: {value}")

line_009[7:10:1]

Index: 0, Value: 50
Index: 1, Value: 50
Index: 2, Value: 50
Index: 3, Value: 50
Index: 4, Value: 50
Index: 5, Value: 50
Index: 6, Value: 50
Index: 7, Value: 1
Index: 8, Value: 2
Index: 9, Value: 3
Index: 10, Value: 50
Index: 11, Value: 50
Index: 12, Value: 50

[1, 2, 3]

In [ ]:
line_010 = [50, 50, 1, 10, 10, 2, 10, 10, 3, 50, 50, 50, 50, 50, 50, 50, 50]
for index, value in enumerate(line_010):
    print(f"Index: {index}, Value: {value}")

line_010[2:9:3]

Index: 0, Value: 50
Index: 1, Value: 50
Index: 2, Value: 1
Index: 3, Value: 10
Index: 4, Value: 10
Index: 5, Value: 2
Index: 6, Value: 10
Index: 7, Value: 10
Index: 8, Value: 3
Index: 9, Value: 50
Index: 10, Value: 50
Index: 11, Value: 50
Index: 12, Value: 50
Index: 13, Value: 50
Index: 14, Value: 50
Index: 15, Value: 50
Index: 16, Value: 50

[1, 2, 3]

In [ ]:
line_011 = [50, 50, 50, 50, 50, 1, 10, 10, 10, 2, 10, 10, 10, 3, 50, 50, 50, 50, 50]
for index, value in enumerate(line_011):
    print(f"Index: {index}, Value: {value}")

line_011[5:14:4]

Index: 0, Value: 50
Index: 1, Value: 50
Index: 2, Value: 50
Index: 3, Value: 50
Index: 4, Value: 50
Index: 5, Value: 1
Index: 6, Value: 10
Index: 7, Value: 10
Index: 8, Value: 10
Index: 9, Value: 2
Index: 10, Value: 10
Index: 11, Value: 10
Index: 12, Value: 10
Index: 13, Value: 3
Index: 14, Value: 50
Index: 15, Value: 50
Index: 16, Value: 50
Index: 17, Value: 50
Index: 18, Value: 50

[1, 2, 3]

In [ ]:
line_012 = [50, 50, 50, 50, 50, 50, 50, 3, 10, 10, 10, 2, 10, 10, 10, 1, 50, 50, 50]
for index, value in enumerate(line_012):
    print(f"Index: {index}, Value: {value}")

line_012[15:6:-4]

Index: 0, Value: 50
Index: 1, Value: 50
Index: 2, Value: 50
Index: 3, Value: 50
Index: 4, Value: 50
Index: 5, Value: 50
Index: 6, Value: 50
Index: 7, Value: 3
Index: 8, Value: 10
Index: 9, Value: 10
Index: 10, Value: 10
Index: 11, Value: 2
Index: 12, Value: 10
Index: 13, Value: 10
Index: 14, Value: 10
Index: 15, Value: 1
Index: 16, Value: 50
Index: 17, Value: 50
Index: 18, Value: 50

[1, 2, 3]

In [ ]:
line_012 = [50, 50, 50, 50, 50, 50, 50, 3, 10, 10, 10, 2, 10, 10, 10, 1, 50, 50, 50]
for index, value in enumerate(line_012):
    print(f"Index: {index}, Value: {value}")

line_012 [15:6:-4]

Index: 0, Value: 50
Index: 1, Value: 50
Index: 2, Value: 50
Index: 3, Value: 50
Index: 4, Value: 50
Index: 5, Value: 50
Index: 6, Value: 50
Index: 7, Value: 3
Index: 8, Value: 10
Index: 9, Value: 10
Index: 10, Value: 10
Index: 11, Value: 2
Index: 12, Value: 10
Index: 13, Value: 10
Index: 14, Value: 10
Index: 15, Value: 1
Index: 16, Value: 50
Index: 17, Value: 50
Index: 18, Value: 50

[1, 2, 3]

In [ ]:
line_013 = [50, 50, 3, 10, 2, 10, 1, 50, 50, 50, 50, 50, 50, 50, 50]
for index, value in enumerate(line_013):
    print(f"Index: {index}, Value: {value}")
line_013[6:1:-2]

Index: 0, Value: 50
Index: 1, Value: 50
Index: 2, Value: 3
Index: 3, Value: 10
Index: 4, Value: 2
Index: 5, Value: 10
Index: 6, Value: 1
Index: 7, Value: 50
Index: 8, Value: 50
Index: 9, Value: 50
Index: 10, Value: 50
Index: 11, Value: 50
Index: 12, Value: 50
Index: 13, Value: 50
Index: 14, Value: 50

[1, 2, 3]

In [ ]:
line_014 = [50, 50, 50, 50, 50, 1, 10, 2, 10, 3, 50, 50, 50, 50, 50]
for index, value in enumerate(line_014):
    print(f"Index: {index}, Value: {value}")
line_014[5:10:2]

Index: 0, Value: 50
Index: 1, Value: 50
Index: 2, Value: 50
Index: 3, Value: 50
Index: 4, Value: 50
Index: 5, Value: 1
Index: 6, Value: 10
Index: 7, Value: 2
Index: 8, Value: 10
Index: 9, Value: 3
Index: 10, Value: 50
Index: 11, Value: 50
Index: 12, Value: 50
Index: 13, Value: 50
Index: 14, Value: 50

[1, 2, 3]

In [ ]:
line_015 = [50, 50, 50, 50, 1, 10, 10, 10, 2, 10, 10, 10, 3, 50, 50, 50, 50, 50, 50]
for index, value in enumerate(line_015):
    print(f"Index: {index}, Value: {value}")
line_015 [4:13:4]

[1, 2, 3]

In [ ]:

line_016 = [50, 50, 50, 50, 50, 50, 1, 10, 10, 2, 10, 10, 3, 50, 50, 50, 50]
line_017 = [50, 50, 50, 3, 2, 1, 50, 50, 50, 50, 50, 50, 50]
line_018 = [50, 50, 1, 2, 3, 50, 50, 50, 50, 50, 50, 50, 50]
line_019 = [50, 50, 50, 1, 2, 3, 50, 50, 50, 50, 50, 50, 50]
line_020 = [50, 50, 50, 50, 3, 2, 1, 50, 50, 50, 50, 50, 50]
line_021 = [50, 1, 10, 2, 10, 3, 50, 50, 50, 50, 50, 50, 50, 50, 50]
line_022 = [50, 50, 50, 50, 50, 1, 2, 3, 50, 50, 50, 50, 50]
line_023 = [50, 50, 50, 50, 50, 50, 3, 10, 10, 10, 2, 10, 10, 10, 1, 50, 50, 50, 50]
line_024 = [50, 50, 50, 50, 50, 50, 50, 50, 50, 1, 2, 3, 50]
line_025 = [50, 1, 10, 10, 10, 2, 10, 10, 10, 3, 50, 50, 50, 50, 50, 50, 50, 50, 50]
line_026 = [1, 2, 3, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50]
line_027 = [50, 50, 50, 50, 50, 50, 50, 3, 10, 10, 2, 10, 10, 1, 50, 50, 50]
line_028 = [50, 50, 3, 10, 10, 2, 10, 10, 1, 50, 50, 50, 50, 50, 50, 50, 50]
line_029 = [50, 50, 50, 50, 3, 10, 10, 10, 2, 10, 10, 10, 1, 50, 50, 50, 50, 50, 50]
line_030 = [50, 50, 50, 50, 50, 50, 50, 50, 50, 1, 10, 2, 10, 3, 50]
line_031 = [50, 50, 50, 50, 50, 50, 50, 1, 10, 2, 10, 3, 50, 50, 50]
line_032 = [50, 50, 50, 50, 1, 10, 2, 10, 3, 50, 50, 50, 50, 50, 50]
line_033 = [1, 10, 10, 10, 2, 10, 10, 10, 3, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50]
line_034 = [50, 1, 10, 10, 2, 10, 10, 3, 50, 50, 50, 50, 50, 50, 50, 50, 50]
line_035 = [50, 50, 50, 1, 10, 2, 10, 3, 50, 50, 50, 50, 50, 50, 50]
line_036 = [50, 50, 50, 50, 50, 50, 50, 1, 10, 10, 2, 10, 10, 3, 50, 50, 50]
line_037 = [50, 50, 50, 50, 50, 50, 3, 2, 1, 50, 50, 50, 50]
line_038 = [1, 10, 10, 2, 10, 10, 3, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50]
line_039 = [50, 50, 50, 3, 10, 10, 2, 10, 10, 1, 50, 50, 50, 50, 50, 50, 50]
line_040 = [50, 50, 50, 50, 50, 50, 50, 50, 3, 2, 1, 50, 50]
line_041 = [50, 50, 50, 50, 50, 50, 1, 2, 3, 50, 50, 50, 50]
line_042 = [50, 50, 50, 50, 50, 50, 50, 50, 50, 1, 10, 10, 10, 2, 10, 10, 10, 3, 50]
line_043 = [50, 50, 50, 50, 50, 50, 1, 10, 10, 10, 2, 10, 10, 10, 3, 50, 50, 50, 50]
line_044 = [50, 3, 2, 1, 50, 50, 50, 50, 50, 50, 50, 50, 50]
line_045 = [50, 50, 50, 50, 50, 50, 1, 10, 2, 10, 3, 50, 50, 50, 50]
line_046 = [50, 50, 50, 50, 50, 50, 50, 3, 2, 1, 50, 50, 50]
line_047 = [1, 10, 2, 10, 3, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50]
line_048 = [50, 50, 50, 50, 50, 50, 50, 50, 1, 10, 10, 10, 2, 10, 10, 10, 3, 50, 50]
line_049 = [50, 50, 50, 50, 50, 50, 50, 50, 1, 2, 3, 50, 50]
line_050 = [50, 50, 50, 50, 50, 50, 50, 50, 50, 3, 10, 10, 10, 2, 10, 10, 10, 1, 50]

In [ ]:
line_010

[50, 50, 1, 10, 10, 2, 10, 10, 3, 50, 50, 50, 50, 50, 50, 50, 50]

In [ ]:
line_010[2:9:3]

[1, 2, 3]