<a href="https://colab.research.google.com/github/bdugick89/Data-Science-Bootcamp/blob/main/Brannon_2b_Dictionaries%2CSets%2CTuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Types - built-in data structures - collections
- Lists
  - Mutable - You can change them!
  - Indexed
  - Ordered by index ( not by value )
  - Values
    - Can be anything: e.g. numbers, other lists
    - Duplicates allowed
  - [1, 2, 3]
- Dictionaries
  - Mutable
  - Key-Value Pairs
  - Unordered for older version of Python, Ordered for newer versions
  - Keys
    - Unique elements ( no duplicates )
    - Numbers or Strings
  - Values
    - Anything
  - {a:1, b:2, c:3}
  - Use case: information for a user ( user id is key, info is value stored )
- Sets
  - Mutable
  - Unordered
  - Unique elements ( no duplicates )
  - {1, 2, 3}
  - Use case: determine if a particular value has been seen before
- Tuples
  - Unmutable - You can't change them!
  - Ordered
  - (1, 2, 3)
  - Use case: returning values from a function

For all of these collections, think [CRUD]( https://en.wikipedia.org/wiki/Create,_read,_update_and_delete ): Create, Read, Update, Delete.

## Dictionaries


- Unordered for older version of Python, Ordered for newer versions
- Mutable - You can change what is stored in them
- Key-Value Pairs
- {a:1, b:2, c:3}

Make a new dictionary

In [ ]:
cohort_pets = {'dogs':14, 'cats': 1, 'snake': 1, 'goats': 5}
cohort_pets

{'dogs': 14, 'cats': 1, 'snake': 1, 'goats': 5}

Access a value

In [ ]:
cohort_pets['dogs']

14

In [ ]:
cohort_pets['cats']

In [ ]:
pop_return = cohort_pets.pop('cats')

In [ ]:
print(pop_return)
print(cohort_pets)

In [ ]:
# Use .keys() to view dictionary keys
cohort_pets.keys()

dict_keys(['dogs', 'cats', 'snake', 'goats'])

In [ ]:
# Use .values() to view dictionary valus
cohort_pets.values()

dict_values([14, 1, 1, 5])

In [ ]:
# Add to your dictionary
cohort_pets['hamsters'] = 1
print(cohort_pets)

 You can also have nested dictionaries.  A use for a nested dictionary might be a user list with information about each user.

In [ ]:
users = {
    'kyla':{'first name': 'kyla',
            'last name': 'bendt',
            'city': 'tijeras'},
    'cliff':{'first name': 'cliff',
             'last name': 'lewis',
             'city': 'albuquerque'
             }
    }
users

SyntaxError: '{' was never closed (<ipython-input-8-4df3336b5d7d>, line 1)

In [ ]:
users['cliff']['city']

In [ ]:
users['cliff']

### Your Turn
Create a dictionary called `my_cohort` that uses the names of everyone in your cohort as the key and their favorite color as the value.

In [5]:
# Solution
my_cohort = {
    'Brannon': {'first name': 'Brannon', 'Color': 'Blue'},
    'Pranab': {'First name': 'Pranab', 'Color': 'Red'}
}

print(my_cohort)

{'Brannon': {'first name': 'Brannon', 'Color': 'Blue'}, 'Pranab': {'First name': 'Pranab', 'Color': 'Red'}}

## Sets

  - Unordered
  - Unique elements (no duplicates)
  - Mutable
  - {1, 2, 3}

In [6]:
divisible_numbers = {4,6,8,9,10,12,14,15,15,15,15,15}
print(divisible_numbers)

{4, 6, 8, 9, 10, 12, 14, 15}

In [ ]:
prime_numbers = {1,2,3,5,7,11, 'thirteen'}
print(prime_numbers)

In [ ]:
prime_numbers.

Sets are good for testing membership, overlap, etc.

In [ ]:
all_numbers = prime_numbers.union(divisible_numbers)
print(all_numbers)

In [ ]:
all_numbers - prime_numbers

In [ ]:
prime_numbers.issubset(all_numbers)

### Your Turn
1. Create a set called `set_1` that includes the numbers: 5, 10, 15, 20, 25, 30.
2. Create a set called `set_2` that includes the numbers:
10, 20, 30, 40, 50, 60, 70, 80, 90.
3. Use a set **method** to return a set that includes the numbers that are in both `set_1` and `set_2`. That is, what numbers are common to both sets?<br />*Hint*: You may need to read the documentation for the set methods to figure out which one to use.

In [19]:
# Solution 1
set_1 = {5, 10, 15, 20, 25, 30}
set_1
set_2 = {10, 20, 30, 40, 50, 60, 70, 80, 90}
all_numbers = set_1.union(set_2)
print(all_numbers)

set_1.inersection(set_2)

set_1 -(set_1 - set_2)

{10, 20, 30}

In [ ]:
# Solution 2

In [ ]:
# Solution 3

## Tuples

  - Unmutable - You can't change them!
  - Ordered
  - (1, 2, 3)

In [20]:
my_tuple = (5, 2, 3, 1, 1, 1, 4)
my_tuple

In [21]:
my_tuple = 5, 2, 3, 1, 3, 1, 7
my_tuple

In [22]:
my_tuple[0]

5

In [23]:
another_tuple = 1, 2, 3, 4, 3, 1

In [24]:
my_tuple[1]

2

In [25]:
my_tuple.count(1)

2

In [26]:
my_tuple.index(2)

1

In [27]:
my_tuple.index?

### Combining tuples

In [28]:
t1 = ( 1,2,3)
t2 = ( 4,5,6 )
t1+t2

(1, 2, 3, 4, 5, 6)

In [31]:
( t1, t2)

((1, 2, 3), (4, 5, 6))

### Appending a single value to a tuple

In [32]:
t1 + 4

TypeError: can only concatenate tuple (not "int") to tuple

In [33]:
t1 + (4)

TypeError: can only concatenate tuple (not "int") to tuple

In [34]:
t1 + (4,)

(1, 2, 3, 4)

In [35]:
t1

(1, 2, 3)

In [36]:
t1 = t1 + (4,)
t1

(1, 2, 3, 4)

Tuples are often returned from functions/methods

In [37]:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [38]:
( num, den ) = x.as_integer_ratio()
print(f"{num}/{den}")

1/8

In [39]:
ratio = x.as_integer_ratio()
print(f"{ratio[0]}/{ratio[1]}")

1/8

In [40]:
numerator, denominator = x.as_integer_ratio()
print('numerator is ', numerator)

numerator is  1

In [ ]:
denominator

### Your Turn
1. Create a tuple that contains the following numbers:
5, 10, 5, 20, 5, 30, 5, 40.
2. Use a tuple method to count the number of 5's in your tuple.

In [46]:
# Solution 1
t1 = 5, 10, 5, 20, 5, 30, 5, 40
type(t1)

tuple

In [47]:
# Solution 2
t1.count(5)



am * everything_else = everything_else

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-47-12e8b751a2ab>, line 6)

## Further Reading:
[WhirlwindTourOfPython - Built-In Data Structures](https://github.com/jakevdp/WhirlwindTourOfPython/blob/master/06-Built-in-Data-Structures.ipynb)

For more information about lists look to the lists notebook.